.card-img-top {
    aspect-ratio: 2/3;
    object-fit: cover;
    height: auto;
}

.card-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-hover:hover,
.no-hover:focus,
.no-hover:focus-visible,
.no-hover:active {
    color: var(--bs-primary) !important;
    background-color: inherit !important;
    border-color: var(--bs-primary) !important;
    box-shadow: none !important;
}
