.card-img-top {
    aspect-ratio: 2/3;
    object-fit: cover;
    height: auto;
}

#price {
}

.no-hover:hover,
.no-hover:focus,
.no-hover:focus-visible,
.no-hover:active {
    color: var(--bs-primary);
    background-color: inherit;
    border-color: var(--bs-primary);
    box-shadow: none;
}
